@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="form-group">
    <div>Koliko možete uštedeti za jednu godinu, ako štedite po malo svakog dana</div>
        <div class="slidecontainer">
            <p class="value">Dnevno da stedim: <span class="per-day">250</span> RSD</p>
            <div class="calculator-inner">
                <span>10 RSD</span>
                <input type="range" min="10" max="500" value="250" class="slider" id="myRange" name="range"><span>500 RSD</span>

            </div>
            <p class="max-value"><span class="savings-txt">Uštedeo bih: </span><span class="per-year">91.250</span> RSD</p>
        </div>
</div>

