@page
@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

@{
    Layout = "";
}

@using Microsoft.AspNetCore.Identity
@using StediiPobedi.Areas.Identity.Data; 
@inject SignInManager<Korisnik> SignInManager
@inject UserManager<Korisnik> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StediiPobedi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet"  asp-append-version="true" href="~/css/site.css" />
    <link rel="stylesheet" asp-append-version="true" href="~/css/Login.css">
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

</head>
<body>
    <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">Stedi i Pobedi</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Moj Profil</a>
                                </li>
                                <li class="nav-item">
                                    <a id="manage" class="nav-link" asp-page="/PrihodiRashodi">Bilans Stanja</a>
                                </li>
                                <li class="nav-item">
                                    <a id="manage" class="nav-link" asp-page="/Budzet" title="Manage">Pregled Budzeta</a>
                                </li>
                            }
                        </ul>
                        <ul class="navbar-nav">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                                        <button id="logout" type="submit" class="nav-link btn logout login">Odjavi se</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link btn login" asp-area="Identity" asp-page="/Account/Login">Prijavi se</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn register" asp-area="Identity" asp-page="/Account/Register">Napravi nalog</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
    </header>

    <div class="container-fluid full-height">
        <div class="row okvir">
            <div class="col-lg-7 left-side">
                <div class="row edit" style="display: block;">
                    <img class="circle" src="~/images/circle.png" alt="Img">
                    <img class="circle2" src="~/images/circle2.png" alt="Img">
                    <img class="circle3" src="~/images/circle.png" alt="Img">

                    <h1>Stedi i Pobedi</h1>
                    <ul>
                        <li><ion-icon class="btn statistika" name="bar-chart-outline"></ion-icon> Pregled vasih prihoda</li>
                        <li><ion-icon class="btn statistika" name="pie-chart-outline"></ion-icon> Pregled vasih rashoda</li>
                        <li><ion-icon class="btn statistika" name="stats-chart-outline"></ion-icon> Pregled vaseg bilansa</li>
                        <li><ion-icon class="btn statistika" name="analytics-outline"></ion-icon> Upravljajte vasim budzetom</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 right-side">
                <section>
                    <form id="account" method="post">
                        <h2>Registruj se</h2>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn">Registruj se</button>
                        </div>
                        <div class="form-group">
                            <p class="text-link">
                                <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">VEC IMATE NALOG?</a>
                            </p>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <footer class="footer text-center text-lg-start">
        <div class="text-center text-light p-3">
            &copy 2021 Copyright:
            <a class="text-light" asp-area="" asp-page="/Index">Stedi i Pobedi</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <script src="~/temp/ersteznali.min.js"></script>
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}