@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&family=Raleway:wght@300;500;600&display=swap');

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #876be0;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5c52f5;
  }
.hero{
    width: 100%;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    background: #5c52f5;
    background: -moz-linear-gradient(top,  #5c52f5 0%, #876be0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #5c52f5 0%,#876be0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #5c52f5 0%,#876be0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c52f5', endColorstr='#876be0',GradientType=0 ); /* IE6-9 */
}
.custom-shape-divider-bottom-1611072348 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-bottom-1611072348 svg {
    position: relative;
    display: block;
    width: calc(200% + 40px);
    height: 1000px;
}
.custom-shape-divider-bottom-1611072348 .shape-fill {
    fill: #FFFFFF;
}
.custom-shape-divider-bottom-1711072348 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-bottom-1711072348 svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 1000px;
}
.custom-shape-divider-bottom-1711072348 .shape-fill {
    fill: #e6e4fe;
}
.circle1{
    position: absolute;
    top: -180px;
    left: -200px;
    opacity: 0.08;
}
.circle2{
    position: absolute;
    bottom: -20%;
    left: 20%;
    opacity: 0.08;
}
.circle3{
    position: absolute;
    top: -35%;
    right: 15%;
    opacity: 0.08;
}
.navbar{
    position: relative;
    z-index: 15;
    font-family: 'Poppins';
    padding-top: 15px;
    padding-left: 45px;
    padding-right: 45px;
    background: none;
}
.navbar .nav-link{
    font-weight: 300;
}
.navbar-brand{
    margin-right: 35px;
}
.navbar .login{
    color: #ff6276 !important;
    padding: 7px 25px 7px 25px !important;
    border-radius: 50px;
    font-weight: 500;
    border: 1px solid #ff6276;
    transition: 0.2s;
    margin-right: 25px;
}
.navbar .login:hover{
    background: white;
    border: 1px solid white;
}
.navbar .register{
    background: white;
    color: #ff6276 !important;
    padding: 7px 25px 7px 25px !important;
    border-radius: 50px;
    font-weight: 500;
    transition: 0.2s;
    margin-right: 45px;
}
.navbar .register:hover{
    -webkit-box-shadow: 0 0 20px 5px #FFFFFF;
    box-shadow: 0 0 10px 1px #FFFFFF;
}
.hero-content{
    display: grid;
    place-items: center;
    position: relative;
    z-index: 5;
    color: white;
    font-family: 'Raleway';
}
.hero-content h1{
    font-size: 42px;
    font-weight: 600;
    text-transform: capitalize;
    padding-top: 90px;
}
.hero-content p{
    font-weight: 500;
    opacity: 0.5;
    padding-bottom: 25px;
}
.hero-content .btn{
    background: #ff6276;
    color: white;
    border-radius: 50px;
    padding: 10px 35px 10px 35px;
    transition: 0.2s;
    border: 2px solid #ff6276;
}
.hero-content .btn:hover{
    background: none;
    color: #ff6276;
}
.hero-content img{
    padding-top: 25px;
    width: 65%;
}

.sadrzaj{
    padding-top: 200px;
    text-align: center;
    font-family: 'Raleway';
}
.sadrzaj hr{
    width: 150px;
    border: 2px solid #876be0;
    border-radius: 50px;
}
.sadrzaj h1{
    margin-top: 15px;
    font-weight: 600;
    color: #444444;
}
.sadrzaj p{
    font-weight: 600;
    color: #999999;
    font-size: 18px;
    padding-bottom: 50px;
}
.sadrzaj .form-group p{
    color: #444444;
    padding: 0 0 15px 0;
    font-size: 20px;
    margin: 0;
    font-family: 'Poppins';
}
.sadrzaj .form-group p:last-child{
    padding-top: 15px !important;
}
.sadrzaj .form-group .per-day, .per-year{
    color: #f89060;
}
.sadrzaj .form-group .slider-price{
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Poppins';
}
input[type=range] {
    -webkit-appearance: none;
    width: 40%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #ccc9f0;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    margin-top: -15px;
    position: relative;
    z-index: 2;
    background: url(https://image.flaticon.com/icons/png/512/129/129525.png) #75b3c300;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}


.mySlides{
    display: none
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding: 25px 0;
  margin-bottom: 50px;
}
.mySlides img{
    margin-left: 50px;
    height: calc(400px - 200px);
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-family: 'Raleway';
  color: #ccc9f0 !important;
  font-size: 36px;
  transition: 0.2s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-left: -45px;
}
.prev:hover, .next:hover{
    color: #876be0 !important;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Caption text */
.text {
    font-family: 'Poppins';
    color: #444444;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 35%;
    width: 50%;
    text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
    color: #444444;
    font-size: 16px;
    padding: 8px 12px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.fade:not(.show){
    opacity: 1;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.footer{
    font-family: 'Poppins';
    background: #876be0;
    font-weight: 300;
}
.footer .idido{
    text-decoration: none;
    opacity: 0.5;
}

@media only screen and (max-width: 1366px),
            screen and (max-height: 768px){
    .hero-content img{
        width: 45%;
    }
    .sadrzaj{
        padding-top: 100px !important;
    }
}
@media only screen and (max-height: 710px){
    .hero-content img{
        width: 40%;
    }
}
@media only screen and (max-height: 550px){
    .hero-content img{
        width: 30%;
    }
}