.naslov{
    font-family: 'Poppins';
    text-align: center;
    color: rgb(37, 36, 36);
    text-transform: capitalize;
    padding: 50px 0 25px 0;
}
.form-group label{
    padding-left: 5px;
    color: #5c52f5;
    font-family: 'Raleway';
    font-weight: 600;
}
.dodaj{
    display: flex;
    padding: 15px 0 50px 0;
}
.dodaj .btn{
    border-radius: 7px;
    font-family: 'Raleway';
    padding: 7px 30px;
    font-weight: 600;
}
.form-control{
    border-radius: 7px;
    font-family: 'Poppins';
    border: 1px solid #5c52f5;
    padding: 20px 25px;
    color: #362eb3;
    font-weight: 300;
}
.form-control:disabled{
    color: #876be0a1;
}